{% extends 'base.html' %} {% block content %}

<h1>{{ vid.name }} Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"
          ><span class="blue-text">{{ vid.name }}</span></span
        >
        <p>Console: {{ vid.console }}</p>
        <p>Genre: {{ vid.genre }}</p>
        <p>Year Released: {{ vid.release }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'vids_update' vid.id %}">Edit</a>
        <a href="{% url 'vids_delete' vid.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_progress' vid.id %}" method="POST">
      {% csrf_token %} {{ progress_form.as_p }}
      <input type="submit" class="btn" value="Add Progress" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        {% for progress in vid.progress_set.all %}
        <tr>
          <td>{{progress.date}}</td>
          <td>{{progress.get_progress_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ vid.name }}'s Characters</h3>
    {% if vid.characters.count %} {% for vid in vid.characters.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span style="color: {{ vid.color }}">{{ vid.color }} <span style="color: {{ character.color }}"
            >{{ character.color }}</span
          >
          {{ character.name }}
        </span>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Characters Yet</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Characters</h3>
    {% if characters.count %} {% for character in characters.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <span style="color: {{ character.color }}"
            >{{ character.color }}</span
          >
          {{ character.name }}
        </span>
      </div>
      <div class="card-action">
        <form
          action="{% url 'assoc_character' vid.id character.id %}"
          method="POST"
        >
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{vid.name}} Already Has All Characters Available</h5>
    {% endif %}
  </div>

  <script>
    const dateEl = document.getElementById("id_date");
    M.Datepicker.init(dateEl, {
      format: "yyyy-mm-dd",
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true,
    });

    const selectEl = document.getElementById("id_progress");
    M.FormSelect.init(selectEl);
  </script>
  {% endblock %}
</div>
